{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
    <h1>Card page</h1>

    <p>Här berättar jag om mina klasser och hur jag har tänkt</p>

    <p>UML-diagram</p>
{% endblock %}