{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
    <h1>Presentation</h1>

    <img src="{{ asset('img/me.png') }}" alt="Bild p친 mig">

    <p>Hej!</p>

    <p>Jag heter Fredrik 칛r 40 친r gammal.</p>

    <p>Min f칬rsta kontakt med programmering var under gymnasiet. Jag l칛ste naturvetenskap med teknisk inriktning och vid ett tillf칛lle hade jag valt programmering i ett moment och d친 var det Pascal. 
        Under de senaste 친ren har jag intresserat mig f칬r Python som jag l칛rt mig med hj칛lp av det som finns p친 n칛tet.</p>

    <p>Jag har alltid haft ett intresse f칬r teknik och programmering. Idag 칛r det mest via mitt stora intresse f칬r kortsiktig aktiehandel, 칛ven kallat trading, som jag g칛rna 칛gnar mycket tid 친t. Jag 칛r idag mest aktiv p친 den amerikanska marknaden.</p>

    <p>Jag bor p친 Tj칬rn, 칛r gift och har tre s칬ner.</p>

    <p>Jag har h칬ga f칬rv칛ntningar och tycker att det ska bli j칛tteroligt att l칛sa programmet Webbprogrammering 120 hp. Jag l칛ser webbprogrammering d친 jag 칛r v칛ldigt intresserad av det. 
        I framtiden kanske jag jobbar med det p친 heltid, deltid eller bara p친 fritiden s친 vi f친r se vad som h칛nder helt enkelt. 游땔</p>

    <p>I och med att jag jobbar deltid och har fullt upp med familj och allt s친 k칛nns det som att distansprogrammet verkar vara en bra l칬sning som passar mig just nu!</p>

    <p>Bilden ovan 칛r tagen p친 Solvalla travbana under Elitloppshelgen tidigare i 친r. Jag var d칛r d친 mina f칬r칛ldrar 칛r 칛gare till <a href="https://sportapp.travsport.se/sportinfo/horse/ts703846/results">Bellfaks</a> som st칛llde upp i Elitkampen som 칛r kallblodens stora t칛vling under den helgen.</p>

    <p>Ha det g칬tt s친 l칛nge!</p>
{% endblock %}